*,
*:after,
*::before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.st-container,
.st-pusher,
.st-content {
    height: 100%;
}

.st-content {
    overflow-y: scroll;
    background: #f2eee9;
    padding: 20px;
}

.st-content,
.st-content-inner {
    position: relative;
}

.st-container {
    position: relative;
    overflow: hidden;
}

.st-pusher {
    position: relative;
    left: 0;
    z-index: 99;
    height: 100%;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.st-menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 300px;
    height: 100%;
    background: #e62651;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}


/* content style */

.st-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.st-menu h2 {
    margin: 0;
    padding: 1em;
    color: rgba(0,0,0,0.4);
    text-shadow: 0 0 1px rgba(0,0,0,0.1);
    font-weight: 300;
    font-size: 2em;
}

.st-menu ul li a {
    display: block;
    padding: 0.9em 1em 0.9em 1.2em;
    outline: none;
    color: #f3efe0;
    text-transform: uppercase;
    text-shadow: 0 0 1px rgba(255,255,255,0.1);
    letter-spacing: 1px;
    font-weight: 400;
    -webkit-transition: background 0.3s, box-shadow 0.3s;
    transition: background 0.3s, box-shadow 0.3s;
}


/* Individual effects */



/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */
.no-csstransforms3d .st-pusher,
.no-js .st-pusher {
    padding-left: 300px;
}
