main{
    padding-left: 10%;
    padding-right: 10%;
}

.contenu{
    margin: 0;
}

/* --------------------------------------------------------------------------------------- */
/* --------------------------------------- HEADER ---------------------------------------- */
/* ---------------------------------------------------------------------------------------- */

.column{
    left: 0;
    position: absolute;
}

/* -------------------------------------------------------------------------------------- */
/* --------------------------------------- INDEX ---------------------------------------- */
/* -------------------------------------------------------------------------------------- */

/* ~~~~ Titres ~~~~ */
#urgent{
    padding-left: 80px;
}

#actu, #meteo{
    padding-left: 90px;
    padding-top: 15px;
    margin-bottom: 40px;
}

/* ~~~~ Meteo ~~~~ */
#meteo{
    padding-left: 90px;
    padding-top: 15px;
    margin-bottom: 20px;
}


h4{
    font-size: 14px;
}

/* ------------------------------------------------------------------------------------------- */
/* --------------------------------------- EVENEMENTS ---------------------------------------- */
/* ------------------------------------------------------------------------------------------- */

/* ~~~~ Séparation evenements ~~~~ */
.hr-event{
    width: 100%;
}

/* ~~~~ Bouton proposer un evenement ~~~~ */
.hr-event{
    width: 50%;
    height: 3px;
    color: #b6dede;
    background-color: #b6dede;
    border: none;
}

.article_imgs{
    width:250px;

}

/* -------------------------------------------------------------------------------------------------- */
/* --------------------------------------- PAGE DE CONNEXION ---------------------------------------- */
/* -------------------------------------------------------------------------------------------------- */

.boutons{
    display: flex;
    flex-direction: row;
    min-width: 400px;
    max-width: 500px;
    margin: 0 auto;
}

.connexion{
    margin: 5px 5px;
}


/* champ de connexion */

.zone_form{
    padding-left: 10px;
}

.index footer{
    padding-top: 50px;
}


/* -------------------------------------------------------------------------------------------------- */
/* --------------------------------------------- METEO ---------------------------------------------- */
/* -------------------------------------------------------------------------------------------------- */
#jours{
    display: flex;
}


aside ul{
    padding-left: 0;
}

#jours > div:nth-child(1) > ul{
    padding-right: 40px;
}
