/* -------------------------------------------------------------------------------------------- */
/* ------------------------------------------ COULEURS ---------------------------------------- */
/* -------------------------------------------------------------------------------------------- */

/*
Bleu clair : #b6dede ;
Rouge      : #e62651 ;
Blanc      : #f2eee9 ;
Violet     : #1b2e52 ;
*/


/* ------------------------------------------------------------------------------------------- */
/* -------------------------------------------- FONTS ---------------------------------------- */
/* ------------------------------------------------------------------------------------------- */

@font-face {
    font-family: OpenSans;
    src: url(../media/font/OpenSans-Regular.ttf);
}
@font-face {
    font-family: Montserrat;
    src: url(../media/font/Montserrat-Regular.otf);
}
@font-face {
    font-family: FontAwesome;
    src: url(../media/font/FontAwesome.woff);
}


/* -------------------------------------------------------------------------------------------------- */
/* ---------------------------------------- CLASSES PRATIQUES---------------------------------------- */
/* -------------------------------------------------------------------------------------------------- */

* { box-sizing: border-box; }
.hide{display: none;}

.desc_cadre{
    display: block;
    margin-top: 35px;
    border: #b6dede 2px;
    padding: 20px;
    font-size: 0.7rem;
    border-style: dashed solid dashed solid;
    background: rgba(255,255,255,0.2);
}

.desc_article{
    min-height: 80px;
    border: #b6dede 1px;
    padding: 20px;
    font-size: 0.7rem;
    border-style: dashed ;
}
/* ------------------------------------------------------------------------------------------------- */
/* -------------------------------------- BALISAGE STANDARD ---------------------------------------- */
/* ------------------------------------------------------------------------------------------------- */


html{
    color: #1b2e52;
    background : #f2eee9;
    font-size: 19px;
    font-family: OpenSans, sans-serif;
}

body{
    width: 100%;
}

a{
    text-decoration: none;
    color: inherit;
    transition: all ease-in 0.25s;
}

a:hover{
    text-decoration: none;
    color: #961613;
}

h1,h2,h3,h4,h5,h6{
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    font-weight: initial;
}

ul{
    padding: 0;
}

li{
    list-style: none;
}
/* --------------------------------------------------------------------------------------- */
/* --------------------------------------- HEADER ---------------------------------------- */
/* --------------------------------------------------------------------------------------- */
header{
    height: 1px;
}

/* ~~~~ Logo DOM au dessus des pages ~~~~ */
#logo-dom{
    position: absolute;
    width: 300px;
    left: 50%;
    transform: translateX(-50%);
}

/* ~~~~ Séparation sur l'index ~~~~ */
.hr-actu{
    max-width: 420px;
    width: 40%;
    height: 3px;
    color: #1b2e52;
    background-color: #1b2e52;
    border: none;
}


/* --------------------------------------------------------------------------------------- */
/* --------------------------------------- FOOTER ---------------------------------------- */
/* --------------------------------------------------------------------------------------- */
footer{
    text-align: center;
    font-size: 15px;
}

.index footer{
    padding-top: 20px;
    height: 100px;
}
/* ------------------------------------------------------------------------------------- */
/* --------------------------------------- Menu ---------------------------------------- */
/* ------------------------------------------------------------------------------------- */

/* ~~~~ Bouton Hamburger ~~~~ */
.fa-bars{
    position: fixed;
    background-color: #e62651;
    border: none;
    width: 50px;
    height: 50px;
    z-index: 100;
    color: #f2eee9;
}
/* ~~~~ Navigation ~~~~ */
nav{
    text-align: center;
    font-family: Montserrat, sans-serif;
    padding: 30px;
    overflow-y: auto;
    overflow-x: hidden;
}

/* ~~~~ Photo profil ~~~~ */
.photo img{
    border-radius: 50%;
    border: 2px solid #b81e41;
    text-indent: -9999px;
    display: block;
    content: " ";
    width: 110px;
    height: 110px;
    margin: 0 auto;
    -webkit-background-size: contain;
    background-size: contain;
}


/* ~~~~ UL --> icones au dessus de la photo ~~~~ */
.icones-menu-profil{
    display: flex;
    justify-content: space-between;
    width: 150px;
    position: absolute;
    top: 0;
    left: 58px;
}

/* ~~~~ LI --> icones au dessus de la photo ~~~~ */
.icones-menu-profil .fa-bell{
    margin-top: 8px;
}


/* ~~~~ Nom sous la photo ~~~~ */
.name{
    color: #f2eee9;
    margin-bottom: 0;
    margin-top: 10px;
}

/* ~~~~ Notification au dessus de la cloche ~~~~ */
.icones-menu-profil li:first-child::after{
    left: 33px;
    top: 10px;
    position: absolute;
    display: block;
    width: 15px;
    height: 15px;
    font-size: 12px;
    background: #f2eee9;
    color: #b81e41;
    border-radius: 50px;
}

/* ~~~~ Power off ~~~~ */
.logout{
    margin-top: 18px;
    color: #f2eee9;
    border-style: none;
    background-color: #e62651;
    width: 20px;
    height: 25px;
    display: block;
    position: absolute;
    right: 0;
}

/* ~~~~ Séparation du menu ~~~~ */
.hr-menu{
    width: 50%;
    height: 3px;
    color: #f2eee9;
    background-color: #f2eee9;
    border: none;
}

.onglets li:hover{
    background-color: #b81e41;
}

/* ~~~~ UL --> icones reseaux sociaux ~~~~ */
.rs {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.rs i{
    color: #f2eee9;
}

/* ~~~~ LI --> icones reseaux sociaux ~~~~ */
li:hover i{
    color: #b6dede;
    transition: color 0.3s;
}

.rs li a{
    justify-content: space-around;
    padding: 0 5px;
}

/* ~~~~ Logo MMI ~~~~ */
#logo-mmi {
    height: 70px;
}

/* ~~~~ Footer menu ~~~~ */
.footer{
    padding: 10px;
    color: #f2eee9;
    font-size: 10px;
}

.footer a{
    color: #b6dede;
}
/* -------------------------------------------------------------------------------------- */
/* --------------------------------------- INDEX ---------------------------------------- */
/* -------------------------------------------------------------------------------------- */

#conteneur{
    display: block;
}

.contenu{
    width: 70%;
    min-width: 440px;

}

/* ~~~~ Icone point d'exclamation urgents ~~~~ */
.fa-exclamation-circle{
    color: #e62651;
    float: left;
}

/* ~~~~ Icone objets perdus ~~~~ */

.fa-chain-broken, .fa-group, .fa-heartbeat, .fa-briefcase{
    color: #b6dede;
    float: left;
    margin-right: 20px;
}

/* ~~~~ Icone actualité ~~~~ */
.fa-newspaper-o, .fa-sun-o, .fa-file-text, .fa-user-plus{
    color: #b6dede;
    float: left;
}

/* ~~~~ Icone ajout actualité ~~~~ */


.fa-plus-circle{
    color: #e62651;
    position: absolute;
    right: 0;
    top: 17px;
}

/* ~~~~ Titres ~~~~ */
.titre{
    margin-top: 0;
    padding-top: 0;
    font-weight: bolder;
}

#urgent{
    color: #e62651;
    padding-top: 2px;
    padding-left: 80px;
}

#actu{
    padding-left: 100px;
    padding-top: 15px;
    position: relative;
}

#meteo{
    padding-left: 90px;
}

#jours{
    display: flex;
    flex-wrap: wrap;
}

h4{
    font-size: 14px;
    padding-top: 20px;
}


/* ~~~~ Effets sur les articles ~~~~ */
.actu_content:hover, .event_content:hover{
    color: #e62651;
}

/* ~~~~ Retrait de ligne sur les articles ~~~~ */
.actu_content p:nth-child(2), .event_content p:nth-child(2){
    text-indent: 40px;
}

/* ~~~~ Séparation auteur ~~~~ */
.hr-auteur{
    float: left;
    width: 100%;
    height: 3px;
    color: #b6dede;
    background-color: #b6dede;
    border: none;
}

/* ~~~~ Auteurs ~~~~ */
.auteur{
    text-align: right;
    font-weight: bold;
    color: #b6dede;
    margin: 0;
}

/* ~~~~ Meteo ~~~~ */
aside{
    margin-top: 20px;
    padding-left: 20px;
    width: 25%;
    min-width: 400px;
    max-width: 540px;

}
}
aside h2{
}
aside ul{
    padding-left: 40px;
}

aside ul li:first-child{
    border: none;
}

aside li{
    list-style: none;
    padding-left: 20px;;
    border-left: 2px solid #b6dede;
}

aside h4{
    margin-bottom: 0;
}


/* ------------------------------------------------------------------------------------------- */
/* --------------------------------------- EVENEMENTS ---------------------------------------- */
/* ------------------------------------------------------------------------------------------- */

/* ~~~~ Icones calendrier ~~~~ */
.fa-calendar, .fa-calendar-o, .fa-calendar-plus-o{
    color: #b6dede;
    float: left;
    margin: -5px;
}


/* ~~~~ Titre décalé ~~~~ */
.evenements h2, .poster_evenement h2, .article h2{
    padding-left: 80px;
    padding-top: 20px;
}

.article h2{
    height: 80px;
}

/* ~~~~ Séparation evenements ~~~~ */
.hr-event{
    width: 50%;
    height: 3px;
    color: #b6dede;
    background-color: #b6dede;
    border: none;
}

/* ~~~~ Bouton proposer un evenement ~~~~ */
.button{
    border: 2px solid #b81e41;
    background-color: #e62651;
    text-transform: uppercase;
    padding: 15px 30px;
    display: block;
    margin: 20px auto;
    width: 100%;
    text-align: center;
    max-width: 500px;
}

/* ~~~~ Bouton event ~~~~ */
.button:hover{
    border: 2px solid #b81e41;
    background-color: #f2eee9;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.button{
    color: #f2eee9;
}
.button:hover{
    color: #e62651;
}

.article_imgs{
    width:250px;
}

.article_content{
    margin-top: 10px;
    padding: 20px;
    background-color: #1b2e52;
    color: #f2eee9;
}

/* ----------------------------------------------------------------------------------------------- */
/* --------------------------------------- PROPOSER EVENT ---------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */

form{
    margin-bottom: 0;
}

input[type='text'], input[type='password'], input[type='email'], input[type='number']{
    border: 2px solid #b6dede;
    border-radius: 7px;
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 10px auto;
    padding: 5px;
    height: 50px;
    color: #1b2e52;
}
textarea{
    border: 2px solid #b6dede;
    border-radius: 7px;
    width: 100%;
    max-width: 500px;
    display: block;
    margin: 10px auto;
    padding: 5px;
    color: #1b2e52;
}

input[type='file']{
    text-indent: -9999px;
    background: url(../media/interface/plus-sign.png) no-repeat;
    background-size: contain;
    height: 80px;
    width: 80px;
}

.nom-event{
    height: 40px;
}

.description-event{
    height: 140px;
}

.auteur-article{
    background-color: #b6dede;
}

form p{
    margin: 30px 0 10px 0;
    max-width: 90%;
}

.liste-img{
    text-align: center;
}

.fa-plus-square-o{
    color: #b6dede;
}

/* -------------------------------------------------------------------------------------------------- */
/* --------------------------------------- PAGE DE CONNEXION ---------------------------------------- */
/* -------------------------------------------------------------------------------------------------- */
/* ~~~~ Effet background ~~~~ */
.particles-js-canvas-el{
    position: absolute;
    top: 0;
    z-index: -1;
}

.index{
	padding-top: 30px;
}

.index p{
    color: #f2eee9;
    margin: 10px 0 5px 0;
}

/* ~~~~ Barres index ~~~~ */
.hr-index{
    max-width: 420px;
    width: 50%;
    height: 3px;
    color: #f2eee9;
    background-color: #f2eee9;
    border: none;
}

.un{
   margin-top: 190px;
}

/* ~~~~ Formulaire ~~~~ */
.form{
    margin: auto;
    max-width:70%;
    color: #1b2e52;
}

input[type="email"]:nth-child(10){
    margin-bottom: 30px;
}

/* ~~~~ Boutons ~~~~ */
.boutons{
    display: flex;
    flex-direction: column;
    padding: 15px 0;
}

.connexion, .inscription{
    height: auto;
    min-height: 57px;
    color: #f2eee9;
    border: 2px solid #b81e41;
    background-color: #e62651;
    font-size: 20px;
    text-transform: uppercase;
    margin: 5px auto;
    width: 100%;
}

.connexion:hover, .inscription:hover{
    color: #e62651;
    border: 2px solid #b81e41;
    background-color: #f2eee9;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

/* -------------------------------------------------------------------------------------------------- */
/* --------------------------------------- PAGE D'INSCRIPTION --------------------------------------- */
/* -------------------------------------------------------------------------------------------------- */
/* ~~~~ Vous êtes ~~~~ */
.interface_connexion h2{
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    padding: 10px 0 10px 0;
    font-size: 35px;
    color: #e62651;
}

.interface_connexion p{
    text-align: center;
    background-color: rgba(0,0,0,0.3);
    padding: 2px 0 2px 0;
    font-size: 20px;
    color: #f2eee9;
    margin: 15px auto 5px auto;
    width: 60%;
}

/* -------------------------------------------------------------------------------------------------- */
/* --------------------------------------------- ARTICLE  ------------------------------------------- */
/* -------------------------------------------------------------------------------------------------- */

.auteur-article{
    color: #f2eee9;
    background-color: #1b2e52;
    padding: 20px 20px 20px 20px;
}

.article img{
    width: 100%;
}

.st-content{
    overflow-x: hidden;
}

/* -------------------------------------------------------------------------------------------------- */
/* --------------------------------------------- PROFIL  -------------------------------------------- */
/* -------------------------------------------------------------------------------------------------- */
#avatar{
    border-radius: 50%;
    border: 2px solid #1b2e52;
    width: 50%;
    display: block;
    margin: 30px auto;
}

.infos{
    border-left: solid 1px #f2eee9;
    padding-left: 20px;
}

.infos p{
    margin: 0;
    text-indent: 5px;
}

.nom{
    text-transform: uppercase;
}




#admin{
    padding-left: 100px;
    position: relative;
}