main{
    padding-left: 30%;
    padding-right: 15%;
    min-height: 1000px;
}

nav{
    overflow: hidden;
}

.contenu{
    width: 70%;
}


aside ul{
    padding-left: 40px;
}

#jours{
    flex-direction: column;
}

#conteneur{
    display: flex;
}

.column{
    display: none;
    overflow: hidden;
}

#logo-dom{
    position: absolute;
    width: 300px;
    right: 50%;
    transform: translateX(-50%);
}

header{
    position: relative;
}

