main{
    padding-left: 30%;
    padding-right: 15%;
    min-height: 1000px;
}

body{
}

.column{
    display: none;
    overflow: hidden;
}

#logo-dom{
    position: absolute;
    width: 300px;
    right: 50%;
    transform: translateX(-50%);
}

header{
    position: relative;
}

