{% extends 'front/general.html.twig' %}

{% block contenu %}

    <div class="poster_evenement">

        <i class="fa fa-calendar-plus-o fa-4x" aria-hidden="true"></i>
        <h2>Proposer son événement</h2>

        <form method="post" enctype="multipart/form-data">
        <p>Nom de l'événement :</p>
        <input class="nom-event" type="text" name="titre" required/>

        <p>Description de l'événement :</p>
        <textarea rows="10" cols="20" class="description-event" name="contenu" required></textarea>


        <div class="liste-img">
            <p>Image</p>
            <input name="oui" type="file" title="Rechercher" required/>
        </div>


        <p>Date de l'événement :
            <input name="date" type="text" id="datepicker" required/>
        </p>

            <p>Prix :</p>
            <input class="nom-event" type="number" name="prix" min="0" max="1000" required/>

            <p>A prévoir :</p>
            <input class="nom-event" type="text"  name="a_prevoir" required/>

            <hr class="hr-actu">
             <input class="button submit" type="submit" name="soumettre" value="soumettre" />
            <hr class="hr-actu">
        </form>

    </div>
	
{% endblock %}

{% block meteo %}
    <i class="fa fa-sun-o fa-4x" aria-hidden="true"></i>
    <h2 id="meteo">Météo campus</h2>
    <div id="jours">
        <div class="jours">
            <ul>
                <li><h4 class="titre">Lundi 07 Nov.</h4></li>
                <li>Matin : 8°C</li>
                <li>Après-midi : 11°C</li>
                <li>Temps nuageux</li>
            </ul>
        </div>

        <div class="jours">
            <ul>
                <li><h4 class="titre">Mardi 08 Nov.</h4></li>
                <li>Matin : 7°C</li>
                <li>Après-midi : 9°C</li>
                <li>Temps pluvieux</li>
            </ul>
        </div>
    </div>
{% endblock %}