{% extends 'front/general.html.twig' %}

{% block contenu %}

    <i class="fa fa-heartbeat fa-4x" aria-hidden="true"></i>
    <h2>Absences</h2>

    <iframe style="width: 100%; height: 800px; border: none; overflow: hidden;" src="http://absences.pu-pm.univ-fcomte.fr/">

    </iframe>
{% endblock %}

{% block aside %}
    <h2>Outils</h2>
    <ul>
        <a href="?page=viescolaire">Vie Scolaire</a>
        <a href="?page=edt"><li>Emploi du temps</li></a>
        <a href="?page=absences"><li>Absences</li></a>
        <a href="?page=objetsperdus"><li>Objets perdus</li></a>
    </ul>
{% endblock %}