{% extends 'front/general.html.twig' %}

{% block contenu %}

    <i class="fa fa-calendar fa-4x" aria-hidden="true"></i>
    <h2>Emploi du temps</h2>

    <iframe style="width: 100%; height: 800px; border: none; overflow: hidden;" src="https://sedna.univ-fcomte.fr/direct/myplanning.jsp">

    </iframe>
{% endblock %}

{% block aside %}
    <i class="fa fa-briefcase fa-4x" aria-hidden="true"></i>
    <h2>Outils</h2>
    <ul>
        <a href="?page=viescolaire">Vie Scolaire</a>
        <a href="?page=edt"><li>Emploi du temps</li></a>
        <a href="?page=absences"><li>Absences</li></a>
        <a href="?page=objetsperdus"><li>Objets perdus</li></a>
    </ul>
{% endblock %}