{% extends 'front/general.html.twig' %}

{% block contenu %}

    <i class="fa fa-chain-broken fa-4x" aria-hidden="true"></i>
    <h2>Objets perdus</h2>



{% endblock %}

{% block aside %}
    <h2>Outils</h2>
    <ul>
        <a href="?page=viescolaire">Vie Scolaire</a>
        <a href="?page=edt"><li>Emploi du temps</li></a>
        <a href="?page=absences"><li>Absences</li></a>
        <a href="?page=objetsperdus"><li>Objets perdus</li></a>
    </ul>
{% endblock %}