{% extends 'front/general.html.twig' %}

{% block contenu %}

    <i class="fa fa-group fa-4x" aria-hidden="true"></i>
    <h2>Vie scolaire</h2>

    <br>
    <h3>Convocations</h3>
    <p class="desc_cadre">
        Les personnes convoquées sont <u>exigées de contacter l'administration</u> du département MMI au plus vite.
        Si toutefois vous n'êtes pas convoqué(e) mais que  vous connaissez une des personnes suivantes, n'hésitez pas à l'avertir. Merci de votre compréhension.
    </p>

    {% for utilisateur in liste %}
        {% if utilisateur.convoque == 1 %}

                    <li>
                        <a href="?page=profil&id={{ utilisateur.id }}">
                            <img class="img_cercle" src="media/uploads/avatars/{{ utilisateur.image }}"> {{ utilisateur.prenom }} {{ utilisateur.nom }}
                        </a>
                    </li>
                <br>

        {% endif %}
    {%  endfor %}

{% endblock %}

{% block aside %}
    <i class="fa fa-briefcase fa-4x" aria-hidden="true"></i>
    <h2>Outils</h2>
    <ul>
        <a href="?page=viescolaire">Vie Scolaire</a>
        <a href="?page=edt"><li>Emploi du temps</li></a>
        <a href="?page=absences"><li>Absences</li></a>
        <a href="?page=objetsperdus"><li>Objets perdus</li></a>
    </ul>
{% endblock %}