{% extends 'front/general.html.twig' %}

{% block contenu %}
        <h2>ERREUR 404</h2>
		<p>Page introuvable ou en cours d'élaboration</p>
		<a href="index.php?page=actualites">> Retournez aux actualités ?</a>

{% endblock %}
