{% extends 'front/general.html.twig' %}

{% block contenu %}

    <div class="poster_evenement">

        <i class="fa fa-calendar-plus-o fa-4x" aria-hidden="true"></i>
        <h2>Poster une actualité</h2>

        <form method="post">
            <p>Nom de l'actualité :</p>
            <input class="nom-event" type="text" name="titre"/>

            <p>Description de l'actualité :</p>
            <textarea rows="10" cols="20" class="description-event" name="contenu"></textarea>

            <p>Image(s) :</p>
            <div class="liste-img">
                <i class="fa fa-plus-square-o fa-3x" aria-hidden="true"></i>
                <i class="fa fa-plus-square-o fa-3x" aria-hidden="true"></i>
                <i class="fa fa-plus-square-o fa-3x" aria-hidden="true"></i>
            </div>

            <p>Responsables (ceux par qui sont énoncés cette actualité) :</p>
            <input class="nom-event" type="text" name="responsables"/>


            <input class="button submit" type="submit" name="soumettre" value="soumettre" />
        </form>

    </div>

{% endblock %}

{% block meteo %}
    <i class="fa fa-sun-o fa-4x" aria-hidden="true"></i>
    <h2 id="meteo">Météo campus</h2>

    <div class="jours">
        <ul>
            <li><h4 class="titre">Lundi 07 novembre</h4></li>
            <li>Matin : 8°C</li>
            <li>Après-midi : 11°C</li>
            <li>Temps nuageux</li>
        </ul>
    </div>

    <div class="jours">
        <ul>
            <li><h4 class="titre">Mardi 08 novembre</h4></li>
            <li>Matin : 7°C</li>
            <li>Après-midi : 9°C</li>
            <li>Temps pluvieux</li>
        </ul>
    </div>
{% endblock %}