{% extends 'front/general.html.twig' %}

{% block contenu %}
    <div class="article">
        <i class="fa fa-file-text fa-4x" aria-hidden="true"></i>
        <h2>Voyage à Barcelone</h2>
        <img src="media/interface/barcelone.jpg" alt="barcelone">

        <div class="article_content">
            <hr>
            <p>
            <h4 class="titre">Rappels !</h4>
            Bonjour à tous !
            Nous vous rappelons que vous devez payer votre voyage avant Samedi, dépassé cette date nous ne pourrons plus vous accepter.
            Renseignez-vous au près d'Elodie Chartogne dans son bureau.
            <h4 class="titre">Mais encore...</h4>
            N'oubliez pas d'apporter vos couteaux suisses durant le voyage, vous en aurez sans doute besoin en cas d'aggression aux péages.
            Il est dans votre intérêt de ne pas vomir durant le trajet afin d'éviter toute perte de point sur vos copies d'examens futures.

            </p>
            <br>
        </div>
           <hr>
    </div>

{% endblock %}

{% block meteo %}
    <div class="auteur-article">
        <a href="index.php?page=404">
            <div class="photo"></div>
        </a>
        <h2>Suleyman Dogan</h2>
        <h4 class="titre">Date de publication :</h4>
        <p>12/01/17</p>
    </div>
{% endblock %}