<!DOCTYPE html>
<html lang="fr"  id="particles-js" >
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Le Dôm est l'intranet du département MMI à Montbéliard. Tout élève du département, même ancien, peut accéder au Dôm, mais pas les intrus !" />
    <meta name="viewport" content="width=device-width ,initial-scale=1.0">

    <title>DÔM | Intra-MMI Montbéliard</title>
    <link rel="stylesheet" href="css/normalize.css"/>
    <link rel="stylesheet" href="css/style_phone.css" media="all" />
    <link rel="stylesheet" href="css/style_tablet.css" media="all and (min-width: 600px)"/>
    <link rel="stylesheet" href="css/style_desktop.css" media="all and (min-width: 1000px)" />
    <link rel="stylesheet" href="css/font-awesome-4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/particles.css">
    <script src="js/modernizr.custom.js"></script>
</head>

<!-- particles.js container --->

 
<body class="index">
    <header>
        <a href="index.php"><img src="media/interface/Logo_DOM_accueil.png" id="logo-dom"  alt="Logo-DOM"></a>
     </header>



    <div class="interface_connexion">

        <div class="form">
            <hr class="hr-index un">
            <form class="zone_form" method="post">
                <p>Identifiant :</p>
                <input class="connexion_input boutons" type="text" name="identifiant" />

                <p>Mot de passe :</p>
                <input class="connexion_input boutons" type="password" name="psw"/>

        <br/>
        <hr class="hr-index deux">
            <div class="boutons">
                <input type="submit" name="connexion" class="connexion" value="Connexion">
                <a href="index.php?page=inscription" class="button connexion">Inscription</a>
            </div>
        <hr class="hr-index deux">
        </form>
        </div>

        <footer>
            <a href="http://mmimontbeliard.com">
                <img src="media/interface/mmi.png" id="logo-mmi" alt="Logo-MMI">
            </a>
        </footer>

    </div>
    <script src="js/classie.js"></script>
    <script src="js/sidebarEffects.js"></script>
    <script src='js/jquery-2.2.0.min.js'></script>
	
	
    <script src='js/particles.js'></script>
    <script src='js/particles_perso.js'></script>
</body>
</html>
